@import "tailwindcss";

@import "leaflet/dist/leaflet.css";
* {
  box-sizing: border-box;
}

body {
  background: white;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
